{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row mb-3">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="text-center">
                <h1>Earth Images</h1>
                <p>We love all the great sites to see on earth. We love sharing them with our community
                    of fellow earth
                    image lovers.
                    This site is for members to sell their prints to other like minded individuals so we can all enjoy
                    the
                    view.
                </p>
                <p>See our <strong><a href="{% url 'products' %}">Shop</a></strong> for whats currently available</p>
                <p>To join our community form and discuss past and future prints <strong><a
                            href="{% url 'account_signup' %}">Register
                        </a></strong>
                    for an
                    account</p>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12">
            <div class="card">
                <img class="card-img img-fluid" src="{{ MEDIA_URL }}Canyonlands_National_Park.jpeg"
                    alt="{{ product.name }}">
                <div class="card-img-overlay">
                    <h5 class="card-title text-white">Sample Image</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}