<!-- Code Adapted from boutique ado mini project -->

{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <h3 class="text-center mt-3 mb-3">Basket</h3>
        {% if basket_items %}
        {% for item in basket_items %}
        <div class="row mb-2">
            <div class="col-sm-12 col-lg-6 text-center">
                {% if item.product.image %}
                <img class="img-fluid img-basket mx-auto" src="{{ MEDIA_URL }}{{ item.product.image }}"
                    alt="{{ item.name }}">
                {% else %}
                <img class="img-fluid img-basket mx-auto" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.name }}">
                {% endif %}
            </div>
            <div class="col-sm-12 col-lg-6 text-center my-auto">
                <h6>Name</h6>
                <p class="mb-2">{{ item.product.name }}</p>
                <p></p>
                <h6>Dimensions</h6>
                <p class="my-0">{{ item.product.dimensions }}</p>
                <p></p>
                <h6>Price</h6>
                <p class="my-0">£{{ item.product.price }}</p>
                <form class="form" method="POST" action="{% url 'remove_from_basket' item.item_id %}">
                    {% csrf_token %}
                    <a type="button" data-toggle="tooltip" data-placement="top" class="remove-item btn btn-warning mt-2"
                        id="remove_{{ item.item_id }}">
                        Remove</a>
                </form>
            </div>
            <hr class="hoz-rul">
        </div>
        {% endfor %}
        <div class="text-center mb-4">
            <a href="{% url 'products' %}" class="btn btn-warning mt-2 mb-2">Go to Shop</a>
            <a href="{% url 'checkout' %}" class="btn btn-warning">Go to Checkout</a>
        </div>
        {% else %}
        <div class="text-center">
            <h5>There are no items in your basket</h5>
            <a href="{% url 'products' %}" class="btn btn-warning mt-2 mb-2">Go to Shop</a>
        </div>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/basket/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}