/* Base template */

.basket-total {
    color: darkslategray;
}

.my-nav,
.my-foot {
    background: rgb(219, 229, 240);
}

/* product_detail */

.card-img-overlay {
    height: 30px;
}

.card-title a {
    color: white;
    text-decoration: none;
}

.card-img {
    max-height: 80vh;
    width: auto;
}

.card-design-img {
    border: none;
    margin: 10px;
}

.card-design-text {
    border: 2px solid lightblue;
    margin: 20px;
}

/* basket.html */

.img-basket {
    width: 250px;
    height: auto;
}

.hoz-rul {
    color: black;
    width: 60%;
}

/* checkout */

#payment-form {
    margin-left: 10px;
    margin-right: 10px;
}