.card-img-overlay {
    height: 30px;
}

.card-title a {
    color: white;
    text-decoration: none;
}

.card-img {
    max-height: 80vh;
    width: auto;
}

.card-design-img {
    border: none;
    margin: 10px;
}

.card-design-text {
    border: 2px solid lightblue;
    margin: 20px;
}