{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="card mb-5 p-3">
        <div class="row">
            <div class="card col-12 col-lg-8 offset-lg-2">
                <h3 class="text-center mt-3">{{ post.title }}</h3>
                {% if request.user.is_authenticated %}
                <div class="text-center mb-3">
                    <a href="{% url 'edit_post' post.pk %}">Edit</a>
                    <a class="text-danger" href="{% url 'delete_post' post.pk %}">Delete</a>
                </div>
                {% endif %}
                <h6 class="text-center">{{ post.content }}</h6>
                <p class="text-center"><small>{{ post.author }}, {{ post.date_of_post | date:"d F Y"}}</small></p>
                <div class="text-center mb-3">
                    <a class="btn btn-warning" href="">Add Comment</a>
                    <a class="btn btn-warning" href="{% url 'community_form' %}">Back</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                {% for comment in comments %}
                <a href="" target="_blank">
                    <div class="card p-2 mt-2">
                        <div class="row">
                            <div class="col-9">
                                <h5>{{ comment.post }}</h5>
                                <hr>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}