{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <h3 class="text-center mt-3 mb-3">Community</h3>
            </div>
        </div>
        {% if request.user.is_authenticated and user.id == comment.name.id %}
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p class="text-center">Are you sure you want to delete this post permenantly?</p>
                    <div class="text-center mb-3">
                        <a class="btn btn-warning" href="{% url 'community_form' %}">Cancel</a>
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </div>
                </form>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <h5 class="text-center mt-3 mb-3">You need to be logged in to delete this post</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3 text-center">
                <a class="btn btn-warning mb-3" href="{% url 'community_form' %}">Back to Community</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
