{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="card mb-5">
        {% if request.user.is_authenticated %}
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <h3 class="text-center mt-3 mb-3">Community</h3>
                <h5 class="text-center mt-3 mb-3">Edit Post</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right mb-3">
                        <a class="btn btn-warning" href="{% url 'post_detail' post.pk %}">Cancel</a>
                        <button class="btn btn-warning" type="submit">Edit</button>
                    </div>
                </form>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <h3 class="text-center mt-3 mb-3">Community</h3>
                <h5 class="text-center mt-3 mb-3">You need to be logged in to edit a post</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3 text-center">
                <a class="btn btn-warning mb-3" href="{% url 'community_form' %}">Back to Community</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}