{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-sm-6 col-lg-4 col-xl-3">
            <div class="card mt-3 shadow-sm p-2 bg-white rounded">
                <a href="{% url 'product_detail' product.id %}">
                    {% if product.image %}
                    <img class="card-img img-fluid" src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.name }}">
                    {% else %}
                    <img class="img-fluid img-basket mx-auto" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.name }}">
                    {% endif %}
                </a>
                <div class="card-img-overlay">
                    <h5 class="card-title text-white">
                        <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                    </h5>
                </div>
                <div class="card-body">
                    <h6 class="card-text text-center">{{ product.description }}</h6>
                    <p class="card-text text-center">Cost: £{{ product.price }}</p>
                </div>
                {% if request.user.is_superuser %}
                <small class="text-center">
                    <a href="{% url 'edit_product' product.id %}">Edit</a> |
                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                </small>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row mt-3">
        <div class="col-2 offset-5">
            <a href="{% url 'products' %}" class="btn btn-warning mt-2 mb-2">Go to Shop</a>
        </div>
    </div>
</div>
{% endblock %}