{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <div class="card">
                <a href="{{ MEDIA_URL }}{{ product.image }}.jpeg" target="_blank">
                    <img class="card-img img-fluid" src="{{ MEDIA_URL }}{{ product.image }}.jpeg"
                        alt="{{ product.name }}">
                </a>
                <div class="card-img-overlay">
                    <h5 class="card-title text-white">{{ product.name }}</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6 my-auto">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-text text-center">{{ product.description }}</h6>
                    <p class="card-text text-center">Cost: £{{ product.price }}</p>
                    <p class="card-text text-center">Dimensions: {{ product.dimensions }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}