{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div class="card card-design-img text-center">
                    <a href="{{ MEDIA_URL }}{{ product.image }}.jpeg" target="_blank">
                        <img class="card-img img-fluid" src="{{ MEDIA_URL }}{{ product.image }}.jpeg"
                            alt="{{ product.name }}">
                    </a>
                    <div class="card-img-overlay">
                        <h6 class="card-title text-white">Click image to enlarge</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 my-auto">
                <div class="card card-design-text mb-5">
                    <div class="card-body text-center">
                        <h5 class="card-text text-center mb-4 mt-2">{{ product.description }}</h5>
                        <p class="card-text text-center">Cost: £{{ product.price }}</p>
                        <p class="card-text text-center">Dimensions: {{ product.dimensions }}</p>
                        <p class="card-text text-center">Location: {{ product.category }}</p>
                        {% if request.user.is_authenticated %}
                        <form class="form" action="{% url 'add_to_basket' product.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-warning">Add to Basket</button>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </form>
                        {% else %}
                        <h6>To add items to your basket, please <a href="{% url 'account_signup' %}">Register</a> for an
                            account</h6>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}